<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
<script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/home.js') }}"></script>

<style>
    .bg {
      /* The image used */
      background-image: url("{{ url_for('static', filename='assets/nasa-hangar.jpg')}}");
    
      /* Full height */
      height: 100%; 
      color:white;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
</style>
{% if not details %}
<head>
    <h1>To begin, please select your engine</h1></head>
    {% endif %}
<div class="bgs">
<body onload="onload()">
    {% if not details %}
        <form action="/home" method="POST">
            <label>Engine 1:</label>
            <select  id="engine" name="engine">
                {% for n in names %}
                <option value="{{n}}">{{n}}</option>
                {%endfor%}
            </select>
            <input type="submit" value="Submit"/>
        </form>
        {%endif%}
        {% if details %}
            <table style="width:100%" border="1">
                <tr>
                    <th>Name</th>
                    <th>Maximum Exhaust Velocity</th>
                    <th>Thrust</th>
                    <th><a href="https://en.wikipedia.org/wiki/Technology_readiness_level" target="_blank">Tech level</a></th>
                </tr>
                <tr>    
                    <td>{{enginedet[0]}}</td>
                        <td>{{enginedet[1]}}</td>
                            <td id="thrust">{{enginedet[6]}}</td>
                                <td>{{enginedet[4]}}</td>

                </tr>

            </table>
            <!-- enable the one below for fun-->
                <!-- <img src="{{ url_for('static', filename='assets/space.png')}}" class="anim"> -->
            <div class="parent">
                    <div class="left-child">
                        <img src="{{ url_for('static',filename='assets/'+enginedet[3]) }}" width="200" height="200">
                    </div>
                <div class="right-child">
                    <p>{{enginedet[2]}}</p>
                </div>
            </div>
            <br>
            <div class="myrow">
                <div class="slidecontainer">
                    <label><p id="velbl">Exhaust speed: </p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="{{enginedet[1]}}" value="5" class="slider" id="ve">
                  </div>
                  <div class="slidecontainer">
                    <label><p id="relbl">Exhaust radious:</p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="999999" value="{{enginedet[3]}}" class="slider" id="re">
                  </div>
                  <div class="slidecontainer">
                    <label><p id="m0lbl">Fuel mass:</p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="9999" value="150" class="slider" id="m0">
                  </div>
                  <!--<div class="slidecontainer">
                    <label><p id="mfrlbl">Mass flow rate: </p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="9999" value="1000" class="slider" id="mfr">
                  </div>-->
                  <div class="slidecontainer">
                    <label><p id="masslbl">Total mass:</p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="99999" value="2000" class="slider" id="mass">
                  </div>
                </div>
                
            <canvas id="line-chart" width="100" height="100"></canvas>
            <canvas id="line-chart2" width="100" height="100"></canvas>
            
            
        {% endif %}
</body>
</div>