<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
<script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/home.js') }}"></script>

<style>
    .bg {
      /* The image used */
      background-image: url("{{ url_for('static', filename='assets/nasa-hangar.jpg')}}");
    
      /* Full height */
      height: 100%; 
      color:white;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
</style>
{% if not details %}
<head>
    <h1>To begin, please select your engine</h1></head>
    {% endif %}
<div class="bgs">
<body onload="onload()">
    {% if not details %}
        <form action="/home" method="POST">
            <label>Engine 1:</label>
            <select  id="engine" name="engine">
                {% for n in names %}
                <option value="{{n}}">{{n}}</option>
                {%endfor%}
            </select>
            <input type="submit" value="Submit"/>
        </form>
        {%endif%}
        {% if details %}
            <table style="width:100%" border = "1">
                <tr>
                    <th>Name</th>
                    <th>Velocity</th>
                    <th>Thrust</th>
                    <th>Firing duration</th>
                    <th>minimum delta</th>
                    <th>tech level</th>
                </tr>
                <tr>    
                {% for n in enginedet %}
                    <td>{{n}}</td>
                {%endfor%}
                </tr>
            </table>
            <p> The spaceship goes this fast</p>
            
          
                <!-- <img src="{{ url_for('static', filename='assets/space.png')}}" class="anim"> -->
                
            <div class="parent">
                <div class="left-child">
                <div class="slidecontainer">
                    <label><p>Exhaust speed</p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="20" value="5" class="slider" id="ve">
                  </div>
                  <div class="slidecontainer">
                    <label><p>Exhaust radious</p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="10" value="2" class="slider" id="re">
                  </div>
                  <div class="slidecontainer">
                    <label><p>Fuel mass</p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="120" value="150" class="slider" id="m0">
                  </div>
                  <div class="slidecontainer">
                    <label><p>Mass flow rate</p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="100" value="5" class="slider" id="mfr">
                  </div>
                  <div class="slidecontainer">
                    <label><p>Total mass</p></label>
                    <input onchange="generategraphs()" type="range" min="1" max="200" value="200" class="slider" id="mass">
                  </div>
                </div>
                <div class="right-child">
                    <p>description</p>
                </div>
            </div>
            <canvas id="line-chart" width="10" height="10"></canvas>
            <canvas id="line-chart2" width="10" height="10"></canvas>
            
            
        {% endif %}
</body>
</div>