table, td {
  border: 1px solid black;
}
 .ex
 {
  margin:auto;
  width:90%;
  padding:10px;
  border:outset;
 }
 select
 {
  display:inline;
  cursor:pointer;
 }
.ey
{
 display:inline-block;
} 
.anim {
    background-color: white;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}
@keyframes example {
  0%   {background-color: white; left:0px; top:0px;}
  25%  {background-color: white; left:200px; top:0px;}
  50%  {background-color: white; left:400px; top:0px;}
  75%  {background-color: white; left:600px; top:0px;}
  100% {background-color: white; left:800px; top:0px;}
}
.parent {
  width: 90%;
  height: 100px;
  margin-bottom: 10px;
 }
 
 .left-child {
 width: 80px;
 height: 80px;
 margin: 10px;
 margin-right: 100px;
 float: left;
 }
 .center-child {
  width: 150px;
  height: 50px;
  margin: 10px;
  margin-right: 100px;
  float: center;
  }
 
 .right-child {
 width: 400px;
 height: 30px;
 margin-left: 100px;
 text-align: right;
 float: right;
 }
 .myrow {
   margin-top: 100px;
    float: center;
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
  
 }